#landing-page {
    width: 100vw;
    height: 100vh;
    background: #121316;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    .nav-row {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        padding: 70px 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .dev {
            width: 300px;
            line-height: 1.5rem;
            font-size: 18px;
        }
    }

    .footer-row {
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        padding: 70px 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 50px;
            margin-bottom: 20px;
        }

        h2 {
            font-size: 28px;
            font-weight: 300;
        }

        .enter-button button {
            background: transparent;
            color: #fff;
            font-size: 18px;
            padding: 28px 18px;
            border: none;
            border-radius: 100px;
            cursor: pointer;
            transition: all 0.3s ease;
            background: #ffffff38;
            border: 1px solid #ffffff;
            font-weight: 400;
        }

        .enter-button button:hover {
            background: #ffffff;
            color: #121316;
            box-shadow: 0 0 10px #fff;
        }
    }
}